//============================================================================= header

header {
  position: relative;

  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-bottom: 60px;
}

.header__about {
  background: none;
}

.header__about:before,
.header__about:after {
  display: none;
}

//============================================================================= header_navigation

.header {
  &__navigation {
    padding: 50px 60px 60px 60px;

    .navigation-contacts {
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      font-size: 16px;

      &-info {
        display: flex;
        gap: 6px;
        align-items: center;
        padding-bottom: 36px;

        z-index: 2;

        .language {
          box-sizing: border-box;
          text-transform: uppercase;
          margin-left: 7px;
          margin-right: 7px;
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          color: #B3B3BA;
        }

        .language:hover {
          background: #F0145A;
          border-radius: 8px;
          padding: 5px 7px;
          color: #fff;
        }

        .info-address {
          display: flex;
          color: #B3B3BA;
        }

        .info-tel {
          display: flex;
          font-weight: 700;
          line-height: 20px;
          color: #B3B3BA;
        }

        .info-address:before,
        .info-tel:before,
        .info-tel:after {
          content: "";
          width: 6px;
          height: 6px;
          margin-top: 6px;
          margin-right: 6px;
          border-radius: 50%;
          background: #B3B3BA;
        }

        .facebook svg path {
          fill: #B3B3BA;
        }

        .facebook svg:hover path {
          fill: #F0145A;
        }
      }
    }

    .navigation-list {
      display: flex;
      justify-content: flex-end;
      margin-top: -30px;

      &-items {
        z-index: 2;

        .navigation-items {
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          gap: 15px;
          margin: 0;
          font-weight: 700;
          line-height: 20px;

          .navigation-item a {
            color: #24a3ff;
            margin-top: 18px;
          }

          .navigation-item a:hover {
            text-decoration: underline;
            text-underline-offset: 6px;
            text-decoration-thickness: 2px;
          }

          .navigation-item a:active {
            color: #F0145A;
            text-decoration: underline;
            text-underline-offset: 6px;
            text-decoration-thickness: 2px;
          }
        }
      }
    }
  }

  //============================================================================= header_hero

  .hero-about {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 60px;

    .header__hero-desc {
      display: flex;
      flex-direction: column;
      width: 100%;

      .header__hero-title {
        text-align: start;
        margin: 0;
        padding: 0;
      }

      .header__hero-text {
        font-size: 19px;
        line-height: 1.6;
      }
    }

    .header__hero-achievement {
      display: flex;
      width: 70%;
      padding-left: 30px;
      position: relative;

      .hero-achievement-item span {
        font-weight: 700;
        font-size: 36px;
      }

      .hero-achievement-item svg {
        width: 25px;
        height: 26px;
      }

      .hero-achievement-item .hidden {
        display: none;
      }

      .achievement-item-text {
        color: #323264;
        padding: 10px 0 40px;
        margin: 0;
      }
    }

    .header__hero-achievement:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 87%;
      background: #E6E6F0;
    }
  }
}

//============================================================================= main_team
.main__team-poster {
  display: flex;
  position: relative;

  .team-poster-img {
    width: 100%;
  }


  .team-poster-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 96px;
    letter-spacing: 63px;
    z-index: 1;
    opacity: 0.8;
    text-shadow: 0 15px 30px rgba(40, 40, 86, 0.8);
    margin: 0;
  }
}

.main__team-desc {
  margin: 60px 0;
  display: flex;

  .team-desc-text {
    width: 102%;
    font-size: 19px;
    line-height: 1.6;
  }

  .team-desc-subtitle {
    margin-left: 60px;
  }
}

//============================================================================= main_slider
.main__slider {
  background: #F5F5FA;

  .main__slider-title {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: #323264;
    padding: 30px 0;
    text-transform: uppercase;
  }

  .slide-item {
    display: grid;
    grid:  1fr / repeat(4, 1fr);
    gap: 40px;
    background-image: none;
    padding: 0 60px;

    .slide-img {
      display: flex;
      width: 100%;
      justify-content: center;
      padding-top: 25px;
      padding-bottom: 25px;
      background: #fff;
      border-radius: 12px;

      img {
        max-width: 100%;
      }

    }
  }
}


//============================================================================= footer

.footer {
  padding-left: 60px;
  padding-right: 60px;
}

//====================================================================Screen 1920px

@media screen and (min-width: 1920px) {
  .header .center-about {
    padding-right: 280px;
    padding-left: 280px;
  }
  .main .center-about {
    padding-right: 280px;
    padding-left: 280px;
  }


  .header {
    &__navigation {
      padding: 50px 160px 60px 160px;
    }
  }
  .footer {
    padding-left: 160px;
    padding-right: 160px;
  }
}

//====================================================================Screen 1024px

@media screen and (min-width: 1024px) {
  .center-about {
    padding-right: 60px;
    padding-left: 60px;
  }
}

//====================================================================Screen 768px


@media screen and (max-width: 768px) {
  .center-about {
    padding-right: 60px;
    padding-left: 60px;
  }

  .header__about .header__hero {
    flex-direction: column;

    &-achievement:before {
      height: 90%;
    }
  }

  .main__team-poster .team-poster-title {
    font-size: 46px;
  }

  .main__team-desc {
    display: flex;
    flex-direction: column;

    .team-desc-subtitle {
      margin-left: 0;
    }
  }
}

//====================================================================Screen 375px
//
@media screen and (max-width: 375px) {
  .center-about {
    padding-right: 30px;
    padding-left: 30px;
  }

  .header__about {
    margin-bottom: 0;
  }

  .navigation-about .navigation-contacts .navigation-contacts-logo {
    margin: 15px 0 15px 50px;
  }

  .navigation-about .navigation-contacts .navigation-contacts-logo .logo img {
    width: 50%;
  }


  .navigation-contacts-info {
    padding: 0;
    justify-content: center;
  }


  .navigation-list-about .header__toggler-about span {
    width: 100%;
    height: 2px;
    background: #323264;
    display: block;
    position: absolute;
    left: 360px;
    top: -43px;
    transform: translateY(-50%);

    &:nth-child(2) {
      width: 18px;
      top: -33px;
      left: 369px;
      transform: translate(-50%, -50%);
    }

    &:nth-child(3) {
      top: -38px;
    }

    .curtain {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: #323264;
      opacity: 0.7;
      display: none;
      z-index: 2;
    }

    #nav-toggler:checked ~ .navigation-list-items {
      display: flex;
    }

    #nav-toggler:checked ~ .curtain {
      display: flex;
      overflow: hidden;
      pointer-events: none;
    }
  }


  .header__about .hero-about {
    flex-direction: column;
  }

  .header .header__hero {
    margin-bottom: 30px;
  }

  .header__hero-title {
    z-index: 1;
  }

  .header__hero-achievement:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 90%;
    background: #E6E6F0;
  }
  .achievement-item-text {
    width: 130%;
  }

  .main__team-poster .team-poster-title {
    font-size: 36px;
    letter-spacing: 13px;
  }

  .main__team-desc {
    margin-top: 30px;
  }

  .slide-items .slide-item {
    display: flex;
  }

  .slide-items .slide-item .slide-img:nth-child(n+2) {
    display: none;
  }
}


