header {
  position: relative;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-bottom: 60px;
}

header:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 1.5%;
  width: 97%;
  height: 10px;
  margin: 0 auto;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background: #CACADB;
}

header:after {
  content: "";
  position: absolute;
  top: 100.5%;
  left: 3.5%;
  width: 93%;
  height: 10px;
  margin: 0 auto;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background: #E7E7F2;
}

//============================================================================= header_navigation

.header {
  &__navigation {
    padding-top: 50px;

    .navigation-contacts {
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      font-size: 16px;

      &-info {
        display: flex;
        gap: 6px;
        align-items: center;
        padding-bottom: 36px;
        z-index: 2;

        .language {
          box-sizing: border-box;
          text-transform: uppercase;
          margin-left: 7px;
          margin-right: 7px;
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
        }

        .language:hover {
          background: #F0145A;
          border-radius: 8px;
          padding: 5px 7px;
        }

        .info-address {
          display: flex;
          color: #fff;
        }

        .info-tel {
          display: flex;
          font-weight: 700;
          line-height: 20px;
          color: #fff;
        }

        .info-address:before,
        .info-tel:before {
          content: "";
          width: 6px;
          height: 6px;
          margin-top: 6px;
          margin-right: 6px;
          border-radius: 50%;
          background: #E6E6F0;
        }

        .info-tel:after {
          content: "";
          width: 6px;
          height: 6px;
          margin-top: 6px;
          margin-left: 6px;
          border-radius: 50%;
          background: #E6E6F0;
        }

        .facebook svg:hover path {
          fill: #F0145A;
        }
      }
    }

    .navigation-list {
      display: flex;
      justify-content: flex-end;
      margin-top: -30px;

      .navigation-list-items {
        z-index: 2;

        .navigation-items {
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          gap: 15px;
          margin: 0;
          font-weight: 700;
          line-height: 20px;

          .navigation-item a:hover {
            text-decoration: underline;
            text-underline-offset: 6px;
            text-decoration-thickness: 2px;
          }

          .navigation-item a:active {
            color: #F0145A;
            text-decoration: underline;
          }
        }
      }
    }
  }
}


//============================================================================= header_image

.header {
  &-image {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

//============================================================================= header_hero

.header {
  &__hero {
    display: flex;
    flex-direction: column;

    &-title {
      z-index: 2;
      text-align: center;
      padding-top: 230px;
      margin-bottom: 305px;
      color: #fff;
    }

    &-arrow {
      align-self: center;
      width: 42px;
      height: 42px;
      z-index: 2;
      background: url("/img/scroll_sprites.png") -72px -10px;
    }

    &-arrow:hover {
      background: url("/img/scroll_sprites.png") -10px -10px;
    }

    &-offer {
      display: flex;
      align-items: center;
      margin: 75px 0;


      .offer-items {
        list-style: none;
        text-align: end;
        font-weight: 700;
        font-size: 38px;
        line-height: 1.2;
        white-space: nowrap;

        .offer-item {
          margin-bottom: 30px;

          a {
            color: #B3B3BA;
          }
        }

        .offer-item a:hover {
          color: #F0145A;
        }

        .offer-item:first-child {
          background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

      }

      span {
        width: 4px;
        height: 300px;
        background: rgba(255, 255, 255, 0.3);
        margin: 0 60px;
      }

      .offer-desc {

        .offer-desc-title {
          font-size: 30px;
          color: #fff;
        }

        .offer-desc-text {
          font-size: 19px;
          color: #fff;
        }
      }
    }
  }
}

//============================================================================= header_cards_title

.header {
  &__cards-title {
    margin: 10px 0 0;
  }
}

//============================================================================= header_cards

.header {
  &__cards {
    display: flex;
    flex-direction: column;

    &-items {
      display: grid;
      grid: 1fr 1fr / repeat(3, 1fr);
      gap: 60px;
      margin: 60px 0;
      color: #fff;

      .cards-item-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 92px;
        height: 92px;
        background: #fff;
        border-radius: 24px;
        padding: 14px;
      }

      .cards-item-subtitle h3 {
        margin: 30px 0 15px;
        font-weight: 700;
        font-size: 22px;
        color: #24A3FF;
      }

      .cards-item-subtitle h3:hover {
        color: #F0145A;
      }
    }
  }
}

