/*#region MAIN*/
//============================================================================= main_slider
.main__slider {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .slide {
    display: flex;
    background: #F5F5FA;
    border-radius: 12px;

    .slide-img {
      min-width: 400px;
      background-image: url(/img/team.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .slide-desk {
      margin: 30px;

      .slide-desk-title {
        margin: 5px 30px 0 0;
      }

      .slide-desk-position {
        font-weight: 700;
        font-size: 16px;
        color: #b3b3b3;
        margin: 30px 0 6px;
      }

      .slide-desk-name {
        font-weight: 400;
        font-size: 14px;
        color: #b3b3b3;
        margin: 0;
      }
    }
  }

  .slider-nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 60px;

    a {
      width: 16px;
      height: 16px;
      background: #24A3FF;
      border-radius: 50%;
      opacity: 0.2;
    }

    a:hover {
      opacity: 1;
    }
  }
}

//============================================================================= main_partners

.main_partners-title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  color: #323264;
  margin-bottom: 30px;
  margin-top: 0;
}

.main_partners-grid {
  display: grid;
  grid:  repeat(3, 1fr) / repeat(4, 25%);
  margin-bottom: 30px;

  .grid-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-logo:nth-child(1) {
    background: #1C4280;
  }

  .grid-logo:nth-child(2) {
    background: #143646;
  }

  .grid-logo:nth-child(3) {
    background: #F48B30;
  }

  .grid-logo:nth-child(4) {
    background: #9E4DC3;
  }

  .grid-logo:nth-child(5) {
    background: #FD9339;
  }

  .grid-logo:nth-child(6) {
    background: #E2E2E4;
  }

  .grid-logo:nth-child(7) {
    background: #C71C36;
  }

  .grid-logo:nth-child(8) {
    background: #DCF3F9;
  }

  .grid-logo:nth-child(9) {
    background: #EAEAEA;
  }

  .grid-logo:nth-child(10) {
    background: #282240;
  }

  .grid-logo:nth-child(11) {
    background: #1D4568;
  }

  .grid-logo:nth-child(12) {
    background: #000;
  }
}

//============================================================================= main_publications
.main__publications {
  background: #F5F5FA;
}

.main__publications-title {
  margin: 10px 0 30px;
}

.main__publications-cards {
  display: grid;
  grid: 1fr / repeat(3, 33%);
  gap: 30px;
  padding: 0 60px 30px 0;

  .publications-card {
    width: 100%;
    background: #fff;

    .card-image img {
      object-fit: cover;
      width: 100%;
      height: 200px;
      border-radius: 8px 8px 0 0;
    }

    .card-subtitle {
      font-weight: 700;
      color: #24a3ff;
      margin: 30px 0 15px;
    }

    .card-subtitle:hover {
      color: #F0145A;
    }

    .card-date {
      font-weight: 700;
      font-size: 12px;
      color: #b3b3b3;
    }

    .card-line {
      display: flex;
      margin: 15px 0;

      span {
        height: 4px;
        width: 100%;
        margin: 0 30px;
        background: #E6E6F0;
      }
    }

    .card-desc {
      font-size: 14px;
    }
  }
}

/*#endregion*/
